body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.task-list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  width: 30%;
  float: left;
}

.task-list li {
  border-radius: 5px;
  padding: 5px;
}

.task-list .active {
  border: 1px solid grey;
}

.task-list li:hover {
  background: lightgrey;
}
