body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #f1f1f1;
}

.toolbar {
    margin: 8px;
    position: absolute;
    top: 8px;
    right: 32px;
}

input {
    margin: 16px 0px 0px 0px;
}

.note {
    background: #ffff99;
    border: 1px solid #FFFF36;
    border-radius: 8px;
    overflow-y: auto;
    margin: 32px;
    overflow-x: hidden;
    position: relative;
    padding: 0px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

.note-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: aliceblue;
    width: 90%;
    margin: auto;
    min-height: 720px;
}

a{
    cursor:pointer;
}

.date {
    font-size: 0.7em;
    font-style: italic;
    color: #71CBD0;
    height: 5%;
    margin: 2px;
}

.subject {
    color: #71CBD0;
    height: 10%;
    font-weight: bold;
    margin: 2px;
    overflow-x: visible;
    overflow-y: auto;
}

.note-body {
    color: darkred;
    overflow: auto;
    height: 200px;
    width: 318px;
    overflow-y: auto;
    overflow-x: visible;
    background: #ffff99;
    border: none;
    resize: none;
    border-radius: 8px;
}

.glyphicon {
    color: #71CBD0;
    float: right;
    margin: 8px;
    cursor: pointer;
}

.del {
    cursor: pointer;
}

.subject-modal {
    float: right;
    width: 240px;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.version {
    font-size: 0.7em;
    font-style: italic;
    color: #71CBD0;
    margin: 2px;
    height: 5%;
}

.banner {
    display: flex;
    flex-direction: column;
}

.danger {
    color: red;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.btn {
    width: 149px;
    float: right;
}

.container {
    width: 640px;
    height: 420px;
    background: #ffff99;
    border: 1px solid #FFFF36;
    margin: auto;
    margin-top: 160px;
    padding: 32px;
    color: black;
    border-radius: 8px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.login-title {
    margin-top: -32px;
    margin-bottom: 40px;
    margin-left: -32px;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    color: brown;
    font-size: 14px;
}

.icon-large {
    z-index: 1;
    font-size: 4em;
    transform: rotate(270deg);
    margin-top: -56px;
    margin-left: -58px;
    color: darkred;
    margin-right: -8px;
}

textarea:focus {
    border-radius: 8px;
    border: 1px solid #FFFF36;
}

.tab-pane{
    padding: 12px 48px;
    background: #FFFF8A;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    height: 280px;
}
.btn{
    margin:8px;
}